*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Source Sans Pro;
}

#sidebar{
    position: absolute;
    width: 200px;
    height: 100%;
    background: #151719;
}

#sidebar ul li{
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 330px;
    top: 30px;
}

#sidebar .toggle-btn span{
    display: block;
    width: 45px;
    height: 5px;
    background: #151719;
    margin-top: 4px;
}