<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lancer</title>
    <script src = 'main.js'></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
     <div class="container">
            <div id="sidebar">
                <div class="toggle-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
                <ul>
                    <li>Dashboard</li>
                    <li>Clients</li>
                    <li>Finances</li>
                </ul>
                
                
            </div>
    </div>  
</body>
</html>